In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/122.0.0.0 Safari/537.36"
}

In [3]:
test_data=[]
pages_to_scrape=64
for i in range (1,pages_to_scrape+1):
    print(f"Scraping page {i}...")
    
    url=f"https://stats.espncricinfo.com/ci/engine/stats/index.html?class=1;home_or_away=1;home_or_away=2;home_or_away=3;page={i};template=results;type=batting"
    response = requests.get(url, headers=headers)
    html_content = response.text
    soup = BeautifulSoup(html_content)
    soup1 = BeautifulSoup(html_content, "html.parser")
    table = soup1.find("div", class_="pnl650M")
    if table:
        rows = table.find_all("tr",class_="data1")
         
        for row in rows:
            cols = [td.text.strip() for td in row.find_all(["td", "th"])]
            test_data.append(cols)
        print(f"✅ Page {i} done — total rows: {len(test_data)}")
            
    else:
        print("error")

print(f"\n Scraping complete! Total records: {len(test_data)}")

# Test_df=pd.DataFrame(test_data)
# Test_df    
# header1=["Player","Span","Mat","Inns","NO","Runs","HS","Ave","100","50","0",""]	
# rows=test_data[:]
# Test_df=pd.DataFrame(rows,columns=header1)
# Test_df.to_csv(r'C:\Users\anura\OneDrive\Desktop\webscrapping\Project\scraped_data.csv', index=False)  
# Test_df 
header1=["Player","Span","Mat","Inns","NO","Runs","HS","Ave","100","50","0",""]	
rows=test_data[:]
Test_csv=pd.DataFrame(rows,columns=header1)
Test_csv.to_csv(r'C:\Users\anura\OneDrive\Desktop\webscrapping\Project\scraped_data.csv', index=False)  
Test_df=pd.read_csv(r"C:\Users\anura\OneDrive\Desktop\webscrapping\Project\scraped_data.csv") 
Test_df

Scraping page 1...
✅ Page 1 done — total rows: 50
Scraping page 2...
✅ Page 2 done — total rows: 100
Scraping page 3...
✅ Page 3 done — total rows: 150
Scraping page 4...
✅ Page 4 done — total rows: 200
Scraping page 5...
✅ Page 5 done — total rows: 250
Scraping page 6...
✅ Page 6 done — total rows: 300
Scraping page 7...
✅ Page 7 done — total rows: 350
Scraping page 8...
✅ Page 8 done — total rows: 400
Scraping page 9...
✅ Page 9 done — total rows: 450
Scraping page 10...
✅ Page 10 done — total rows: 500
Scraping page 11...
✅ Page 11 done — total rows: 550
Scraping page 12...
✅ Page 12 done — total rows: 600
Scraping page 13...
✅ Page 13 done — total rows: 650
Scraping page 14...
✅ Page 14 done — total rows: 700
Scraping page 15...
✅ Page 15 done — total rows: 750
Scraping page 16...
✅ Page 16 done — total rows: 800
Scraping page 17...
✅ Page 17 done — total rows: 850
Scraping page 18...
✅ Page 18 done — total rows: 900
Scraping page 19...
✅ Page 19 done — total rows: 950
Scraping page 20...
✅ Page 20 done — total rows: 1000
Scraping page 21...
✅ Page 21 done — total rows: 1050
Scraping page 22...
✅ Page 22 done — total rows: 1100
Scraping page 23...
✅ Page 23 done — total rows: 1150
Scraping page 24...
✅ Page 24 done — total rows: 1200
Scraping page 25...
✅ Page 25 done — total rows: 1250
Scraping page 26...
✅ Page 26 done — total rows: 1300
Scraping page 27...
✅ Page 27 done — total rows: 1350
Scraping page 28...
✅ Page 28 done — total rows: 1400
Scraping page 29...
✅ Page 29 done — total rows: 1450
Scraping page 30...
✅ Page 30 done — total rows: 1500
Scraping page 31...
✅ Page 31 done — total rows: 1550
Scraping page 32...
✅ Page 32 done — total rows: 1600
Scraping page 33...
✅ Page 33 done — total rows: 1650
Scraping page 34...
✅ Page 34 done — total rows: 1700
Scraping page 35...
✅ Page 35 done — total rows: 1750
Scraping page 36...
✅ Page 36 done — total rows: 1800
Scraping page 37...
✅ Page 37 done — total rows: 1850
Scraping page 38...
✅ Page 38 done — total rows: 1900
Scraping page 39...
✅ Page 39 done — total rows: 1950
Scraping page 40...
✅ Page 40 done — total rows: 2000
Scraping page 41...
✅ Page 41 done — total rows: 2050
Scraping page 42...
✅ Page 42 done — total rows: 2100
Scraping page 43...
✅ Page 43 done — total rows: 2150
Scraping page 44...
✅ Page 44 done — total rows: 2200
Scraping page 45...
✅ Page 45 done — total rows: 2250
Scraping page 46...
✅ Page 46 done — total rows: 2300
Scraping page 47...
✅ Page 47 done — total rows: 2350
Scraping page 48...
✅ Page 48 done — total rows: 2400
Scraping page 49...
✅ Page 49 done — total rows: 2450
Scraping page 50...
✅ Page 50 done — total rows: 2500
Scraping page 51...
✅ Page 51 done — total rows: 2550
Scraping page 52...
✅ Page 52 done — total rows: 2600
Scraping page 53...
✅ Page 53 done — total rows: 2650
Scraping page 54...
✅ Page 54 done — total rows: 2700
Scraping page 55...
✅ Page 55 done — total rows: 2750
Scraping page 56...
✅ Page 56 done — total rows: 2800
Scraping page 57...
✅ Page 57 done — total rows: 2850
Scraping page 58...
✅ Page 58 done — total rows: 2900
Scraping page 59...
✅ Page 59 done — total rows: 2950
Scraping page 60...
✅ Page 60 done — total rows: 3000
Scraping page 61...
✅ Page 61 done — total rows: 3050
Scraping page 62...
✅ Page 62 done — total rows: 3100
Scraping page 63...
✅ Page 63 done — total rows: 3150
Scraping page 64...
✅ Page 64 done — total rows: 3200

 Scraping complete! Total records: 3200

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,100,50,0,Unnamed: 11
0,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,51,68,14,NaN
1,JE Root (ENG),2012-2025,158,288,24,13543,262,51.29,39,66,13,NaN
2,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17,NaN
3,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16,NaN
4,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,36,63,8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,Mukesh Kumar (IND),2023-2024,3,4,3,0,0*,0.00,0,0,1,NaN
3196,Nadeem Ghauri (PAK),1990-1990,1,1,0,0,0,0.00,0,0,1,NaN
3197,M Ngam (SA),2000-2001,3,1,1,0,0*,-,0,0,0,NaN
3198,RL Park (AUS),1920-1921,1,1,0,0,0,0.00,0,0,1,NaN
3199,RGM Patel (IND),1988-1988,1,2,0,0,0,0.00,0,0,2,NaN